body {
    background-color: rgb(247, 227, 204);
}

#title {
    text-align: center;
}

#message {
    color: red;
    font-weight: 700;
}

#errors {
    color: red;
    margin-top: 10px;

}

#regist-form,
#user-login-form,
#create-todo-form,
#all-todo-list,
#todo-detail {
    margin: auto;
    background-color: burlywood;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}

#submit-button,
#reset-button {
    margin-top: 10px;
    margin-left: 10px;
}

#navbar {
    background-color: burlywood;
    padding: 10px;
}

#navbar a,
#page-a-button a {
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;

}


#all-todo-list-text,
#todo-detail-text {
    background-color: beige;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#page-a-button {
    text-align: center;
    margin: auto;
}