body {
    background-color: rgb(247, 227, 204);
}

#title {
    text-align: center;
}

#message {
    color: red;
    font-weight: 700;
}

#errors {
    color: red;
    margin-top: 10px;

}

#regist-form,
#user-login-form,
#create-todo-form,
#all-todo-list,
#todo-detail,
#edit-todo,
#uncompleted-todo-list,
#completed-todo-list {
    margin: auto;
    background-color: burlywood;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}

#submit-button,
#reset-button {
    margin-top: 10px;
    margin-left: 10px;
}

#navbar {
    background-color: burlywood;
    padding: 10px;
}

#navbar a,
#page-a-button a,
#edit-a-button a {
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;

}


#all-todo-list-text,
#todo-detail-text,
#uncompleted-todo-list-text,
#completed-todo-list-text {
    background-color: beige;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#page-a-button,
#edit-a-button {
    text-align: center;
    margin: auto;
}

.span {
    font-weight: 700;
    color: red;
}

#delete-todo-form,
#user-login-form {
    text-align: center;
    background-color: burlywood;
    margin: auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}