{% extends "base.html" %}
{% load static %}
{% block title %}內文{% endblock %}

{% block content %}
<div id="title">
    <h1>內文</h1>
</div>
<div id="todo-detail">
    {{todo.title}}
    {% if todo.completed %}
    (完成)
    <a href="{% url 'delete-todo' todo.id %}"><img src="{% static 'images/x.png' %}" alt="刪除" width="30" height="30"
            style="float: right;"></a>
    <br>
    {% else %}
    (未完成)
    <a href="{% url 'delete-todo' todo.id %}"><img src="{% static 'images/x.png' %}" alt="刪除" width="30" height="30"
            style="float: right;"></a>
    <br>
    {% endif %}
    <br>

    <div id="todo-detail-text">
        {{todo.text}}
        <br>
        <br>
        {% if todo.important %}
        重要: 是<br>
        {% else %}
        重要: 否<br>
        {% endif %}
        創建時間:{{todo.create_time}} <br>


        {% if todo.completed %}
        <label for="{{todo.completed_time.id_for_label}}">完成時間:</label>
        {{todo.completed_time}} <br>
        {% endif %}



    </div>
    <div id="edit-a-button">
        <a href="{% url 'edit-todo' todo.id %}">修改內文</a>


    </div>
</div>


{% endblock %}