{% extends "base.html" %}
{% load static %}
{% block title %}未完成待辦事項{% endblock %}

{% block content %}
<div id="title">
    <h1>未完成待辦事項</h1>
</div>

<div id="uncompleted-todo-list">
    {% for todo in page_obj %}

    <div id="uncompleted-todo-list-title" style="font-weight: 700; padding: 5px;">
        <a href="{% url 'todo-detail'  todo.id %}">{{todo.title}}</a>

        <br>
    </div>


    <div id="uncompleted-todo-list-text">
        {{todo.text|slice:"5"}}... <br>
    </div>
    {% endfor %}

    <div id="page-a-button">
        {% if page_obj.has_previous %}
        <a href="{% url 'uncompleted-todo' %}?page={{page_obj.previous_page_numbet}}">上一頁</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
        {{num}}

        {% else %}
        <a href="{% url 'uncompleted-todo' %}?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="{% url 'uncompleted-todo' %}?page={{page_obj.next_page_number}}">下一頁</a>
        {% endif %}
    </div>
</div>
{% endblock %}