<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="navbar">
        {% if request.user.is_authenticated %}
        歡迎{{request.user}}登入:
        <a href="{% url 'user-logout' %}">登出</a>

        {% else %}
        <a href="{% url 'user-login' %}">登入</a>
        <a href="{% url 'user-register' %}">註冊</a>

        {% endif %}
    </div>
    {% block content %}{% endblock %}

</body>

</html>